<nav class="navbar navbar-expand-lg navbar-dark bg-primary" aria-haspopup="true">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservas" routerLinkActive="active">Reservas Usuario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Reservas Administrador</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active">Ingreso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Registro</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container p-5">
    <router-outlet></router-outlet>
</div>