<h1>Agregar espacios Físicos</h1>
<div class="container">
    <form (submit)="crearEspacio()">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" [(ngModel)]="espacio.name"  name="name" id="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label class="col-sm-12">Tipo Espacio Físico</label>
            <div class="col-sm-12">
                <select class="form-control" [(ngModel)]="espacio.tipo" ng-disabled="perfil_isEdit"
                name="tipo" id="tipo" required (change)="onTipo($event)">
                    <option value="" selected>--- Seleccione ---</option>
                    <option *ngFor="let tipo of tipos"  ngDefaultControl
                    value="{{tipo.name}}">{{tipo.name}}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    <div *ngIf="bandera" class="alert alert-danger" id="mensaje">
        {{mensaje}}
    </div>
</div>